{% extends 'base.jinja2' %}
{% block content %}
<div class="jumbotron">
  <p class="lead">
    Keep track of your progress on <a href="https://hacktoberfest.digitalocean.com">Hacktoberfest</a>
  </p>
  <p>Click the button below to authorize the app to view your public issues.</p>
  <p><small>If you don't trust this webapp, take look at the <a href="https://github.com/Thor77/HacktoberfestProgress">code</a> or host it yourself.</small></p>
  {% if auth_url %}
  <p><a class="btn btn-lg btn-success" href="{{ auth_url }}" role="button">Authorize</a></p>
  {% else %}
  <p><a class="btn btn-lg btn-success" href="/progress" role="button">Check your progress</a></p>
  {% endif %}
</div>
{% endblock %}
