{% extends 'base.jinja2' %}
{% block content %}
You opened {{ pull_requests|length }} Pull Requests until now!
<ul>
{% for pr in pull_requests %}
<a href="{{ pr.url }}">{{ pr.title }}</a> at <a href="{{ pr.repo_url }}">{{ pr.repo_owner }}/{{ pr.repo_name }}</a>
{% endfor %}
</ul>
{% endblock %}
